@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 20px;
}

.seccion1{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: grid;

    grid-template-columns: 15rem 1fr 30%;
    grid-template-rows: 10% 1fr 10%;

    grid-template-areas: 
        "logo navbar sidebar-right"

        "content  content  imagen"

        "footer footer  footer"
    ;
}

/* ********** Inicio de navbar ************ */

.container_logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_logo img {
    width: 100%;
    height: 100%;
}

.navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.menu {
    list-style-type: none; /* Quitamos las viñetas de la lista */
}

.menu li {
    display: inline; /* Ítems del menú en una línea horizontal */ 
    margin-left: 2rem;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    text-decoration: underline;
    color: yellow;   
}

/* ********** Inicio de Sidebar Right ************ */

.sidebar-right{
    grid-area: sidebar-right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sidebar-right_link-sesion{
    text-decoration: none;
    color: white;
    font-size: .7rem;
    font-weight: 600;
}

.sidebar-right_link-sesion:hover{
    text-decoration: underline;
    color: yellow; 
}

.sidebar-right_btn-registro{
    border-radius: 1rem;
    background-color: yellow;
    width: 40%;
    height: 45%;
    font-weight: bold;
    font-size: .7rem;
    cursor: pointer;
}


/* ********** Inicio de content ************ */

.content{
    grid-area: content;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
}

.content_tituloleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 2rem;
    overflow: hidden;
   
}

.content_tituloleft-h3-1{
    font-size: 1.8rem;
    color: white;
    margin-top: 1rem;
    font-weight: 100;
    animation: mover 2s 1;
    animation-fill-mode: forwards;
    
}

.content_tituloleft-h3-2{
    font-size: 3rem;
    font-weight: 800;
    animation: mover 2s 1;
    animation-fill-mode: forwards;
}

.content_tituloleft-p{
    font-size: .8rem;
    width: 75%;
    line-height: 1.5rem;
    animation: mover 2s 1;
    animation-fill-mode: forwards;
}

@keyframes mover{
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(5px);
    }
}


.content_tituloleft-button{
    width: 10rem;
    height: 2.3rem;
    background-color: yellow;
    border-radius: 1rem;
    margin-top: 2rem;
    font-weight: bold;
    font-size: .7rem;
    cursor: pointer;
}

/* ********** Inicio de Section Right ************ */

.section-right{
    
    grid-area: imagen;
    
}

.section-right img{
    height: 100%;
    position: relative;
    right: 9rem;
    top: 4.5rem;
}


/* ********** Inicio de footer ************ */

.footer{
    display: flex;
    
    grid-area: footer;

}

.footer i{
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

.fa-solid fa-arrow-down{
    font-size: 200px;
    color: #ffffff;
}

/* ************* Inicio Section 6 ********************* */

.section6{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 1fr;

    grid-template-areas: 
        "section6_titulo  section6_titulo  section6_titulo"

        "section6_plan1  section6_plan2   section6_plan3"
    ;
}

.section6_titulo{
    grid-area: section6_titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section6_titulo h2{
    font-size: 2.5rem;
    color: white;
}

.section6_titulo p{
    width: 60%;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: 100;
    text-align: center;
}

/* ************* Inicio Section 6 Plan 1********************* */
.section6_plan1{
    grid-area: section6_plan1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section6_plan1_container{
    border-right: .2rem solid gray;
    width: 90%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.section6_plan1_container_titulo{
    text-align: start;
    width: 55%;
}

.section6_plan1_container_titulo-h4{
    text-align: start;
    color: white;
}

.section6_plan1_container_titulo-h4color {
    color: yellow;
    text-decoration: underline;
    font-size: 1.3rem;
}

.section6_plan1_container-imagen img{
    position: absolute;
    top: .2rem;
    height: 15%;
    left: 70%;
}

.section6_plan1_container_lista{
    margin-top: 1rem;
    color: white;
}

.section6_plan1_container_enviar{
    display: flex;
    justify-content: end;
    margin-top: 6rem;
}

.section6_plan1_container_enviar-button{
    width: 13rem;
    height: 2.3rem;
    background-color: yellow;
    border-radius: 1rem;
    margin-top: 1rem;
    justify-content: end;
    font-weight: 600;
}

/* ************* Inicio Section 6 Plan 2********************* */

.section6_plan2{
    grid-area: section6_plan2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section6_plan2_container{
    border-right: .2rem solid gray;
    width: 90%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.section6_plan2_container_titulo{
    text-align: start;
    width: 55%;
}

.section6_plan2_container_titulo-h4{
    text-align: start;
    color: white;
    
}

.section6_plan2_container_titulo-h4color {
    color: yellow;
    text-decoration: underline;
    font-size: 1.3rem;
}

.section6_plan2_container-imagen img{
    position: absolute;
    top: .2rem;
    height: 15%;
    left: 70%;
}

.section6_plan2_container_lista{
    margin-top: 1rem;
    color: white;
}

.section6_plan2_container_enviar{
    display: flex;
    justify-content: end;
    margin-top: 4rem;
}

.section6_plan2_container_enviar-button{
    width: 13rem;
    height: 2.3rem;
    background-color: yellow;
    border-radius: 1rem;
    /* margin-top: 1rem; */
    justify-content: end;
    font-weight: 600;
}


/* ************* Inicio Section 6 Plan 3********************* */

.section6_plan3{
    grid-area: section6_plan3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section6_plan3_container{
    border-right: .2rem solid gray;
    width: 80%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.section6_plan3_container_titulo{
    text-align: start;
    width: 90%;
}

.section6_plan3_container_titulo-h4{
    text-align: start;
    color: white;
}

.section6_plan3_container_titulo-h4color {
    color: yellow;
    text-decoration: underline;
    font-size: 1.3rem;
}

.section6_plan3_container-imagen img{
    position: absolute;
    top: .2rem;
    height: 15%;
    left: 70%;
}

.section6_plan3_container_lista{
    margin-top: -5rem;
    color: white;
    width: 90%;
}

.section6_plan3_container_enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 4.3rem; */
}

.section6_plan3_container_enviar-button{
    width: 13rem;
    height: 2.3rem;
    background-color: yellow;
    border-radius: 1rem;
    margin-top: 1rem;
    justify-content: center;
    font-weight: 600;
}


/* ************* Inicio Section 7 ********************* */

.section7{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 40%, 1fr, 40%;
    grid-template-rows: 20% 1fr 10%;

    grid-template-areas: 
        "section7_titulo  section7_titulo"

        "section7_contentleft  section7_contentright"

        "section7_footer  section7_footer"
    ;
}

/* ************* Inicio Section 7 Titulo ********************* */
.section7_titulo{
    grid-area: section7_titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section7_titulo h2{
    font-size: 2.5rem;
    color: white;
}

.section7_titulo p{
    width: 60%;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: 100;
    text-align: center;
}

/* ************* Inicio Section 7 Content Left ********************* */
.section7_contentleft{
    grid-area: section7_contentleft;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    
}

.section7_contentleft_text{
    width: 80%;
    margin-left: 3rem;
}

.section7_contentleft_text-h4{
    color: white;
    margin-top: 1.5rem;
}

.section7_contentleft_text-h4color{
    color: yellow;
    margin-top: 1.5rem;
    text-decoration: underline;
}

/* ************* Inicio Section 7 Content Right ********************* */
.section7_contentright{
    grid-area: section7_contentright;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7_contentright-formulario{
    width: 80%;
    height: 70%;
}

.section7_contentright-formulario input{
    border-radius: .5rem;
    width: 100%;
    height: 10%;
    padding: 1rem;
    margin-top: 1rem;
}

.section7_contentright-formulario textarea{
    border-radius: .5rem;
    width: 100%;
    height: 40%;
    padding: 1rem;
    margin-top: 1rem;
}

.section7_contentright-formulario div{
    display: flex;
    justify-content: end;
}

.section7_contentright-formulario-button{
    width: 13rem;
    height: 2.3rem;
    background-color: yellow;
    border-radius: 1rem;
    margin-top: 1rem;
    justify-content: end;
}


/* ************* Inicio Section 7 Footer ********************* */
.section7_footer{
    grid-area: section7_footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section7_footer p{
    font-size: 1rem;
}